<div class="jumbotron">
    <h1 class="display-4">Welcome to the ThingRepository!</h1>
    <p class="lead">A simple webapp for storing information about the things you have accumulated.</p>
    <hr class="my-4">
    <p>If you're new, feel free to <a href="/sign-up<%= activeRoute %>">Sign Up!</a></p>
  </div>