<div class="modal fade" id="addItemModel" tabindex="-1" aria-labelledby="addItemModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addItemModel">Add Thing</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="thingForm" autocomplete="off" action="/addThing" class="modal-input">
                    <b>Name: </b><input type="text" name="name" value="" required>
                    <b>Description: </b><textarea name="description" value="" required></textarea>
                    <b>Price: </b><input type="number" name="price" value="" required>
                    <b>Date: </b><input type="date" name="date" value="" required>
                    <b>Image: </b><input type="file" name="image" id="imageInput" accept="image/*" onchange="convertToB64()" value = "">
                    <input type="hidden" id="imageB64" name="imageB64" value="">
                    <button type="submit" class="btn btn-primary" onclick="displayLoading()">Add Thing</button>
                </form>
                <div class="loading-body">
                    <img src="loading.gif" id="waitText"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function convertToB64() {
        var filesSelected = document.getElementById("imageInput").files;
            if (filesSelected.length > 0) {
                var fileToLoad = filesSelected[0];
                var fileReader = new FileReader();

                fileReader.onload = function(fileLoadedEvent) {
                    var fileSize = document.getElementById('imageInput').files[0].size;
                    fileSize = fileSize / 1024 / 1024;
                    console.log("File is " + fileSize + " megabytes.");  
                    // Check filesize before anything else
                    if (fileSize >= 20) {
                        alert("File is too large!");
                        document.getElementById('imageInput').files = null;
                        document.getElementById('imageInput').value = "";
                    } else {
                        var srcData = fileLoadedEvent.target.result;
                        srcData = srcData.replace(/^data:image.+;base64,/, '');
                        console.log("File B64 is " + srcData);
                        document.getElementById("imageB64").value = srcData;
                    } 
                }
            fileReader.readAsDataURL(fileToLoad);
        }
    }  
    function displayLoading() {
        let nameInput = document.getElementsByName('name')[0];
        let descInput = document.getElementsByName('description')[0];
        let priceInput = document.getElementsByName('price')[0];
        let dateInput = document.getElementsByName('date')[0];

        if (nameInput.value != "" && descInput.value != "" && priceInput.value != "" && dateInput.value != "") {
            document.getElementById('waitText').style.display = "flex";
        }
    }
</script>