html, body {
    margin: 0px;
    padding: 0px;
}

.body-content {
    display: flex;
    justify-content: center;
}

.thing-table {
    display: flex;
    justify-content: center;
}

.thing-table-child {
    width: 85vw;
    height: 75vh;
    overflow: auto;
}

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 30px;
	background-color: red;
	color: white;
	border-radius: 50px;
	box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 35px;
}

.float > .text {
    height: 100%
}

.float:hover {
    text-decoration: none !important;
    color: white;
}

.float:active {
    transform: translateY(1.5px);
}

.modal-input > input, .modal-input > textarea, .modal-input > button {
    width: 100%;
    margin-bottom: 10px;
}

#waitText {
    display: none;
    justify-content: center;
}

.loading-body {
    display: flex;
    justify-content: center;
}

header {
    margin-bottom: 15px;
}

.table tr {
    cursor: pointer;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: black solid 2px;
}

.alertContainer {
    display: flex;
    justify-content: center;
}

/* Fixes for broken stuff(?) in BS4.5 */
.navbar {
    padding: .5rem 1rem !important;
}

.menu-right-fix {
    right: 0;
    left: auto !important;
}

.jumbotron {
    margin: 25px !important;
}

/* Media Queries */
@media (min-width: 200px) { 
    .display-4 {
        font-size: 1.2rem;
    }
}

@media (min-width: 360px) { 
    .display-4 {
        font-size: 2.3rem;
    }
}

/* Table responsiveness */
@media (max-width: 500px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr { 
        border: 1px solid #ccc; 
    }  
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 200px;
    }
    td img {
        display: block;
        width: 50vw;
        height: 25vh;
        margin-left: auto;
        margin-right: auto;
    }
    td:before {
        position: absolute;
        top: 12px;
        left: 6px;
        width: 200px;
        padding-right: 40px;
        white-space: nowrap;
        margin-left: -150px;
    }
}

@media (min-width: 420px) {
    .display-4 {
        font-size: 3.5rem;
    }
}