html, body {
    margin: 0px;
    padding: 0px;
}

.thing-table {
    display: flex;
    justify-content: center;
}

.thing-table-child {
    width: 85vw;
}

/* Fixes for broken stuff(?) in BS4.5 */
.navbar {
    padding: .5rem 1rem !important;
}

.menu-right-fix {
    right: 0;
    left: auto !important;
}

.jumbotron {
    margin: 25px !important;
}
