<!DOCTYPE html>
<html>
    <head>
        <title>ThingRepository | Not Found</title>
        <link rel="icon" href="favicon.ico" type="image/icon type">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>404 Not Found</h1><hr />
        <p>The URL you have entered or followed may be no longer valid.</p>
        <p>If you think this is an error, please contact <a href="mailto:thingrepository@danerainbird.me">Dane</a> for assistance.</p>
    </body>
</html>
