<!DOCTYPE html>
<html>
    <head>
        <title>ThingRepository | Home</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="main.css">
        <link rel="icon" href="favicon.ico" type="image/icon type">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <header>
        <%- include('./partials/header', {title: 'null'}); %>
    </header>
    <body>
        <br />
        <%- include('./partials/about'); %>
        <footer>
            <%- include('./partials/footer'); %>
        </footer>
        <%- include('./partials/scripts'); %>
    </body>
</html>