<!DOCTYPE html>
<html>
    <head>
        <title>ThingRepository | Profile</title>
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="icon" href="favicon.ico" type="image/icon type">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <header>
        <%- include('./partials/header', {title: page_title}); %>
    </header>
    <body>
        <div class="profileContainer">
            <div class="profileColumn">
                <h1 class="profileTitle">About You</h1>
                <hr />
                <p>You are signed in as: <%=user%>.<img class="profileImage" src="<%=userPicture %>" /></p>
            </div>
            <div class="profileColumn">
                <h1 class="profileTitle">Your Stats</h1>
                <hr />
                <p class="profileStatisticsTitle">Your Statistics:</p>
                <ul class="profileStatisticsList">
                    <li class="profileStatisticsNumberItems">Error loading your statistics.</li>
                    <li class="profileStatisticsTotalCost"></li>
                </ul>
                <img class="profileStatisticsLoading" src="loading.gif" />
            </div>
        </div>

        <footer>
            <%- include('./partials/footer'); %>
        </footer>
        <%- include('./partials/scripts'); %>
        <script>
            $(document).ready(function() {
                $.ajax({
                    type: "GET",
                    url: "/currentUserStatistics",
                    success: function(result) {
                        $('.profileStatisticsLoading').fadeOut('slow', () => {
                            $('.profileStatisticsNumberItems').text("You have collected " + result.numItems + " things.");
                            $('.profileStatisticsTotalCost').text("You have spent $" + result.totalPrice + " in total.");
                            $('.profileStatisticsList').fadeIn('slow');
                        });
                    },
                    error: function(result, statusCode, xhr) {
                        $('.profileStatisticsLoading').fadeOut('slow');
                    }
                });
            }); 
        </script>
    </body>
</html>