<!DOCTYPE html>
<html>
    <head>
        <title>RockRepository | Profile</title>
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    </head>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <body>
        <br />
        <% if (isAuthenticated) { %>
            <p>You are signed in as <%=user%></p>
        <% } %>
    </body>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</html>