<!DOCTYPE html>
    <head>
        <title>ThingRepository | Things</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/js/simpledatatables/style.css">
        <link rel="stylesheet" href="main.css">
        <link rel="icon" href="img/favicon.ico" type="image/icon type">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="d-flex flex-column">
        <header>
            <%- include('./partials/header', {title: page_title}); %>
        </header>
        <!-- Error Message Popup -->
        <div class="alertContainer">
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
                <strong>Error!</strong><p id="errorMessage"></p> 
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <!-- Body Container-->
        <div class="body-content">
            <div class="thing-table">
                <div class="thing-table-child">
                    <table class="table table-striped table-hover" id="thingTable">
                        <thead class="thead-dark">
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">Date Purchased</th>
                        </thead>
                        <tbody>
                            <% for (var i = 0; i < data.length; i++) { %>
                                <tr href="#" id="<%= data[i]._id %>">
                                    <td>
                                    <% if (data[i].imageUrl != "") { %>
                                        <img width="100px" height="100px" src="<%= data[i].imageUrl %>" />
                                    <% } else { %>
                                        <img width="100px" height="100px" src="img/default_thing.png" />
                                    <% } %>    
                                    </td>
                                    <td><%= data[i].name %></td>
                                    <td><%= data[i].description %></td>
                                    <td>$<%= data[i].price %></td>
                                    <td><%= data[i].date.toDateString() %></td>
                                </tr>
                            <% }%>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Floating Action Button -->
            <a href="#" class="float" data-toggle="modal" data-target="#addItemModel">
                <div class="text">+</div>
            </a>
        </div>

        <!-- Add Item Modal -->
        <%- include('./partials/addItemModal'); %>

        <!-- Item Modal to be dynamically filled -->
        <%- include('./partials/itemModal'); %>

        <!-- Footer -->
        <!-- <footer>
            <%- include('./partials/footer'); %>
        </footer> -->

        <!-- Scripts  -->
        <%- include('./partials/scripts'); %>

        <!-- AJAX Requests -->
        <script type="module" src="/js/thingsAjax.js"></script>
    </body>
</html>