<!DOCTYPE html>
<html>
    <head>
        <title>ThingRepository | Unsupported Browserd</title>
        <link rel="icon" href="img/favicon.ico" type="image/icon type">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Unsupported Browser</h1><hr />
        <p>Unfortunately, your browser is  unsupported by ThingRepository. This likely means you are running Internet Explorer.</p>
        <p>For the best experience, you should use Firefox or Chrome (or variants of Chrome, such as Microsoft Edge, or Opera).</p>
        <p>If you think this is an error, please contact <a href="mailto:thingrepository@danerainbird.me">Dane</a> for assistance.</p>
    </body>
</html>